/*
PRIMARY COLOR: #F5EDDC
SECONDARY COLOR: #CFD2CF
ACCENT COLORS: 
#A2B5BB
#EB1D36

SAMPLE COLOR COMBINATIONS FOR A ROTHKO PAINTING
PRIMARY: #b7593f,#de7b9a
SECONDARY: #eaa234
Accent: #f4eed4, #eaa22c

*/
img{
    width: 500px;
    height:500px;
}

.canvas{
    width: 500px;
    height: 600px;
    background-color: #F5EDDC;
    /* padding: 1px; */
    overflow: hidden;
    filter: blur(2px);
}

.frame{
    border: 50px solid black;
    width: 500px;
    padding: 50px;
    margin: 20px auto;
}

.one{
    width: 425px;
    height: 150px;
    background-color: #CFD2CF;
    margin: 20px auto;
    filter: blur(1px);
    box-shadow: 0 0 3px 3px #CFD2CF;
}

.two{
    background-color: #A2B5BB;
    width: 475px;
    height: 200px;
    margin: 0 auto 20px;
    filter: blur(1px);
    box-shadow: 0 0 3px 3px #A2B5BB;
}

.three{
    width: 91%;
    height: 28%;
    background-color: #EB1D36;
    margin: auto;
    filter: blur(2px);
    box-shadow: 0 0 5px 5px #EB1D36;
}