/*
PRIMARY COLOR: #F5EDDC
SECONDARY COLOR: #CFD2CF
ACCENT COLORS: 
#A2B5BB
#EB1D36


*/
img{
    width: 500px;
    height:500px;
}

.canvas{
    width: 500px;
    height: 600px;
    background-color: #F5EDDC;
    /* padding: 1px; */
    overflow: hidden;
}

.frame{
    border: 50px solid black;
    width: 500px;
    padding: 50px;
    margin: 20px auto;
}

.one{
    width: 425px;
    height: 150px;
    background-color: #CFD2CF;
    margin: 20px auto;
}

.two{
    background-color: #A2B5BB;
    width: 475px;
    height: 200px;
    margin: auto;
}

.three{
    width: 91%;
    height: 28%;
    background-color: #EB1D36;
    margin: auto;
}